.main {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding: 20px;
    border: 5px solid #808080;
    background-color: white;
}


.side {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    text-align: right;
    background-color: #edeef0;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.main-img {
    width: 100%;
    max-width: max-content;
}
.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}
.logout-button {
    border: 0px solid #000;
    padding: 10px 10px;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
    .logout-button:hover {
        background-color: grey;
        transition: 1s;
    }
.center {
    color: darkblue;
    text-align: center;
}
.btn_submit {
    width: 100%;
    height: 50px;
    border: 0px solid #000;
    background-color: deepskyblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
    .btn_submit:hover {
        background-color: dodgerblue;
        transition: 1s;
    }
.enter_submit {
    width: 100%;
    height: 50px;
    border: 0px solid #000;
    background-color: mediumspringgreen;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
    .enter_submit:hover {
        background-color: limegreen;
        transition: 1s;
    }

